@import "static/assets/styles/mixins";

.popover {
  display: none;
  position: relative;
  cursor: pointer;

  &[data-open='true'] {
    display: block;
  }

  &:after {
    display: none;
    position: absolute;
    content: '';
    transform: rotate(45deg);
    background: var(--black);
    width: toRem(10);
    height: toRem(10);
    left: toRem(120);
    bottom: toRem(-5);
    z-index: -1;
  }

  &-list {
    width: toRem(265);
    height: toRem(146);
    background: var(--black);
    border-radius: toRem(10);
    box-shadow: 3px 8px 12px rgba(22, 22, 26, 0.251885);
    font-size: toRem(14);
    color: var(--white);
    bottom: toRem(45);
    left: toRem(-120);

    &-option {
      height: 50%;
      padding: toRem(10);
      color: var(--white);
      z-index: 1;

      &:hover {
        background: rgba(115, 115, 121, 0.5);
      }

      &:active {
        background: rgba(115, 115, 121, 0.82);
      }

      div:first-child {
        font-size: toRem(12);
        color: var(--white);
        mix-blend-mode: normal;
        opacity: 0.7;

        & + div {
          margin-bottom: toRem(5);
          font-size: toRem(12);
          font-weight: 500;

          & + div {
            display: flex;
            height: toRem(12);
            font-size: toRem(12);
            font-weight: 500;

            div:first-child {
              width: toRem(12);

              & + div {
                padding-left: toRem(9);
              }
            }
          }
        }
      }

      &:first-child {
        border-radius: toRem(10) toRem(10) 0 0;
        border-bottom: 1px solid var(--white);
      }
      &:last-child {
        border-radius: 0 0 toRem(10) toRem(10);
      }
    }
  }
}