@import "static/assets/styles/variables";

$size: toRem(20);

.checkbox {
  display: block;
  height: $size;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;

  &:hover, &:focus {
    outline: none;

    input {
      & ~ .checkbox-indicator {
        background: var(--secondary-dark);
      }

      &:checked ~ .checkbox-indicator {
        background: var(--grey);
      }
    }
  }

  &-indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: $size;
    width: $size;
    background: var(--grey);
    border: 0 solid #000000;
    border-radius: 5px;
    transition: all 0.2s ease;

    &:after {
      display: none;
      box-sizing: unset;
      content: '';
      position: absolute;
      left: toRem(8);
      top: toRem(4);
      width: toRem(3);
      height: toRem(8);
      border: solid #ffffff;
      border-width: 0 toRem(2) toRem(2) 0;
      transform: rotate(45deg);
    }
  }

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked ~ .checkbox-indicator {
      background: var(--secondary-dark);

      &:after {
        display: block;
      }
    }

    &:disabled ~ .checkbox-indicator {
      background: var(--grey);
      opacity: 0.6;
      pointer-events: none;
    }
  }

  //&-validation-error {
  //  margin-left: -30px;
  //}
}
