html {
  // Colors
  --primary: #47DEFF;
  --primary-dark: #4B4E6D;
  --secondary: #F4F4F4;
  --secondary-dark: #99A3AF;

  --black: #191919;
  --white: #ffffff;
  --grey: #e6e6e6;

  --danger: red;
  --info: blue;
  --success: green;
}

html, body {
  overflow-x: hidden;
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
  }
}

img,
svg {
  display: block;
}

button,
input,
select,
textarea {
  font-family: inherit;
  box-shadow: none;
  background-color: transparent;
  letter-spacing: inherit;
  outline: none;
}

button,
textarea,
input,
select,
a,
div {
  -webkit-tap-highlight-color: transparent;
}

hr {
  background: var(--grey);
  margin: 1rem 0;
}
