button,
textarea,
input,
select,
a,
div {
  -webkit-tap-highlight-color: transparent;

  &, &:focus, &:hover {
    box-shadow: none;
    outline: none;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
}
