@import 'static/assets/styles/mixins.scss';

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
li {

}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

a {
}

ul {
}

ol {
}

nav {
}

label {
  display: block;
  position: relative;
  width: fit-content;
  cursor: pointer;

  &[data-required='true']::after {
    content: '*';
    position: absolute;
    top: 0;
    right: -7px;
    color: var(--danger);
  }
}

b {
}

em {
}

i {
}

small {
}

strong {
}

sub {
}

sup {
}

ins {
}

del {
}

mark {
}
