
/* Sync up with @utils/storybook colors logic */
$colors: (
  primary: rgba(29, 32, 105, 1),
  primary-o5: rgba(29, 32, 105, 0.5),

  secondary-d: #CBCBD0,
  secondary: #dadae0,
  secondary-l: #f0f0f0,
  secondary-lst: #f3f3f3,

  purple: #3e42df,
  purple-o24: rgba(29, 32, 105, 0.24),
  purple-d: #262bd7,
  purple-dst: #0f16bd,

  white: #ffffff,
  white-p: #F7F8FC,
  white-pst: #EEF0FA,

  blue: #4f86ec,
  blue-d: #4a81e7,
  blue-dst: #3871da,

  danger: #ff2e2e,
  danger-l: #fff7f7,

  yellow: #FF9300,

  black: #191919,
  info: blue,
  success: green,
  disabled: #dadae0
);

/* Order is important because styles will be generated in this way and styles priority can break something */
$breakpoints: (
  'desktop': 1440px,
  'tablet': 992px,
  'landscape': 768px,
  'mobile': 576px,
) !default;

$short_breakpoints: (
  'lg': 'desktop',
  'md': 'tablet',
  'sm': 'landscape',
  'xs': 'mobile',
) !default;
