$colors: (
  primary: #47DEFF,
  secondary: #F4F4F4,

  black: #191919,
  white: #ffffff,
  grey: #e6e6e6,

  danger: red,
  info: blue,
  success: green,
  disabled: #cccccc
);

$breakpoints: (
  'mobile': 576px,
  'landscape': 768px,
  'tablet': 992px,
) !default;
