.error-boundary {
  flex: 1;

  &-title {

  }

  &-description {
    margin-bottom: 1em;
  }

  &-hint {

  }

  &-graphQL {
    overflow-x: scroll;
  }
}

.error {
  &-name {

  }

  &-message {
    margin-bottom: 1em;
  }

  &-info {
    color: var(--danger);
    margin-bottom: 2em;
  }
}
