@import 'static/assets/styles/variables';

.switcher {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 312px;
  height: 40px;
  border: 0.5px solid var(--secondary);
  border-radius: 30px;
  cursor: pointer;

  &-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 104px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #1D2069;

    &:hover {
      background: var(--white-p);
    }
    &:active {
      background: rgba(62, 66, 223, 0.09);
    }

    &[data-active='true'] {
      background: var(--purple);
      color: var(--white);
    }
  }
}