@import 'static/assets/styles/mixins';

.navigation {
  display: flex;
  align-items: center;

  &-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 -20px;

    &-item {
      position: relative;
      display: flex;
      align-items: center;
      margin: 0 20px;
      list-style: none;
      font-size: toRem(16);
      font-weight: 700;
      cursor: pointer;
      transition: opacity 0.2s ease;
      will-change: opacity;

      &-icon {
        margin-right: toRem(20);
      }

      &-link {
        color: var(--primary)
      }
    }
  }
}
