.form {
  margin-bottom: 0;

  &-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  &-control {
    width: 100%;

    &[data-no-width='true'] {
      width: unset;
    }
  }

  &-submit {

  }
}
