@import "static/assets/styles/mixins";

.button {
  @include disabled($background: true, $opacity: true, $pointerEvents: true);

  display: block;
  width: 100%;
  height: toRem(44);
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease, opacity 0.1s ease;
  will-change: background, opacity, border, color;

  &[data-centered='true'] {
    margin: 0 auto;
    align-self: center;
  }
}

@mixin primary_button() {
  height: toRem(40);
  padding: 0 toRem(14);
}

$buttons_types: "primary", "";

@each $button_type in $buttons_types {
  .button__#{$button_type} {

    @if $button_type == "primary" {
      @include primary_button;
    }
  }
}
