@import "static/assets/styles/variables.scss";

button {
  height: 44px;
  padding: 12px 0 10px;
  border-radius: 22px;
  text-transform: uppercase;
  transition: all 0.2s ease;
  cursor: pointer;
  user-select: none;
  font-size: 0.75rem;

  &[data-disabled='true'] {
    background-color: var(--secondary-dark);
    border: 2px solid var(--secondary-dark);
    cursor: not-allowed;
    color: var(--white);

    &:hover, &:active {
      background-color: var(--secondary-dark);
      border: 2px solid var(--secondary-dark);
    }
  }

  @include breakpoint_max('mobile') {
    height: 32px;
    padding: 7px 0 5px;
  }
}

// Button types

@mixin primary_button($width) {
  width: 100%;
  max-width: $width;
  color: #fff;
  background-color: var(--primary);
  border: 2px solid var(--primary);

  &:hover {
    background-color: var(--secondary-dark);
    border: 2px solid var(--secondary-dark);
  }

  &:active {
    background-color: var(--black);
    border: 2px solid var(--black);
  }
}

@mixin secondary_button($width) {
  width: 100%;
  max-width: $width;
  color: var(--primary);
  background-color: transparent;
  border: 2px solid var(--primary);

  &:hover {
    background-color: var(--secondary);
    border: 2px solid var(--secondary);
  }

  &:active {
    background-color: var(--secondary);
    border: 2px solid var(--secondary);
  }
}

@mixin danger_button($width) {
  width: 100%;
  max-width: $width;
  color: var(--danger);
  background-color: transparent;
  border: 2px solid var(--danger);

  &:hover, &:active {
    background-color: var(--danger);
    color: var(--white);
  }
}

// Button sizes
$buttons_sizes: (
  "lg": 400px,
  "md": 200px,
  "sm": 100px,
);

$buttons_types_sizes: (
  "primary": $buttons_sizes,
  "secondary": $buttons_sizes,
  "danger": $buttons_sizes,
);

@each $button_type, $button_sizes in $buttons_types_sizes {
  @each $button_size_type, $button_size_value in $button_sizes {
    .button__#{$button_type}-#{$button_size_type} {

      // Button styles application

      @if $button_type == "primary" {
        @include primary_button($button_size_value);
      }

      @if $button_type == "secondary" {
        @include secondary_button($button_size_value);
      }

      @if $button_type == "danger" {
        @include danger_button($button_size_value);
      }
    }
  }
}
