$rows: 6;
$columns: 7;
$grid: $rows * $columns;

.calendar {

  &-days {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &-day {
    width: calc(100% / 7);
    height: 44px;
    text-align: center;
    align-self: center;
    padding: 10px 4px;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
    //border: 1px solid var(--secondary-dark);

    &[data-side='top'] {
      border-top: 2px solid var(--secondary-dark);

      &:first-child {
        border-left: 0;
      }

      &:nth-child(#{$columns}) {
        border-right: 0;
      }
    }

    &[data-side='bottom'] {
      border-bottom: 0;

      $first: $grid - $columns + 1;
      &:nth-child(#{$first}) {
        border-left: 0;
      }

      &:nth-child(#{$grid}) {
        border-right: 0;
      }
    }

    &[data-side='left'] {
      border-left: 0;
    }

    &[data-side='right'] {
      border-right: 0;
    }

    &:hover {
      background: var(--grey);
    }

    &__selected {
      //background: var(--primary) !important;
      border-color: var(--primary) !important;
      //color: var(--white) !important;
      //outline: 1px solid var(--primary) !important;
      //z-index: 1;
      //border: 0;

      &:hover {
        background: var(--primary) !important;
      }
    }

    &__today {
      background: var(--black);
      color: var(--white);
    }
  }
}
