.calendar {

  &-days-labels {
    display: flex;
  }

  &-day-label {
    width: calc(100% / 7);
    border: 1px solid var(--primary);
    border-bottom: 0;
    text-align: center;
    padding: 4px;
    font-size: 12px;
    font-weight: 500;
    color: var(--primary);

    &:nth-child(7) {
      border-right: 0;
    }
  }
}
