@import 'static/assets/styles/mixins';

.date-picker {
  &-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;

    &-title {
      font-size: 14px;
      font-weight: bold;
      color: var(--primary);
      text-align: center;
      padding: 0.5rem 0.25rem;
      word-spacing: 5px;
      user-select: none;
    }

    &-nav {
      display: flex;
      align-items: center;
      width: 56px;
      height: 24px;
      user-select: none;

      &__next,
      &__prev {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        user-select: none;
        border: 1px solid var(--secondary);
        transition: background 0.2s ease, border-color 0.2s ease;
        will-change: background, border-color;

        &:hover {
          background: var(--purple);
          border-color: var(--purple);

          svg {
            path {
              stroke: var(--w-white);
            }
          }
        }

        &[data-disabled='true'] {
          pointer-events: none;

          &:hover {
            background: unset;
            border-color: var(--secondary);
          }

          svg {
            path {
              stroke: var(--secondary);
              pointer-events: none;
            }
          }
        }

        svg {
          path {
            transition: stroke 0.2s ease;
            will-change: stroke;
            stroke: var(--purple);
          }
        }
      }

      &__prev {
        position: relative;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-right: none;
        margin-right: 1px;

        svg {
        }

        &:after {
          position: absolute;
          right: -1px;
          top: -1px;
          content: '';
          width: 1px;
          height: calc(100% + 2px);
          background: var(--secondary);
        }
      }

      &__next {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-left: none;

        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}
