@import "static/assets/styles/variables";

.calendar {

  &-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &-month {
      font-size: 20px;
      color: var(--primary);
      text-align: center;
      padding: 0.5rem 0.25rem;
      word-spacing: 5px;
      user-select: none;
    }

    &__next, &__prev {
      position: absolute;
      top: calc(25% + 10px);
      cursor: pointer;

      path {
        fill: var(--secondary-dark);
      }
    }

    &__prev {
      left: 1rem;
      transform: rotate(-90deg);
    }

    &__next {
      right: 1rem;
      transform: rotate(90deg);
    }
  }
}
