@import "static/assets/styles/mixins";

.select {
  width: 100%;
  position: relative;
  @include disabled($background: false, $opacity: true, $pointerEvents: true);

  &:focus {
    outline: none;
  }

  input {
    cursor: pointer;
  }

  &-input {

    &__suffix {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  &-arrow {
    margin-right: 1rem;
    width: toRem(10);
    height: toRem(6);
    transition: all 0.2s ease;
    will-change: transform, rotate;

    path {
      transition: all 0.2s ease;
      will-change: fill;
      fill: black;
    }

    &[data-toggle="true"] {
      transform: rotate(-180deg);
      transform-origin: 5px 3px;
    }
  }
}
