.date-picker {
  width: 248px;
  border: 1px solid var(--secondary);
  border-radius: 8px;
  padding: 18px 12px 6px;

  &[data-side='left'] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;

    .date-picker-header {
      flex-direction: row-reverse;
    }
  }

  &[data-side='right'] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
