@import 'static/assets/styles/mixins';

.date-picker {

  &-days-labels {
    display: flex;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--secondary-lst);
  }

  &-day-label {
    width: calc(100% / 7);
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    color: var(--primary);

    &:nth-child(6) {
      color: var(--secondary);
    }

    &:nth-child(7) {
      color: var(--secondary);
      border-right: 0;
    }
  }
}
