@import "static/assets/styles/mixins";

.input {
  @include disabled($background: false, $opacity: true, $pointerEvents: true);

  display: flex;
  flex-direction: column;
  width: 100%;

  &-inner {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 32px;
    cursor: pointer;
    border: 1px solid black;
    transition: all 0.2s ease;
    will-change: background, border-color;

    input {
      flex: 1;
      max-height: 30px;
      border: none;
      padding: 0.5rem;
      overflow: scroll;
      color: var(--black);

      &[data-nocursor='true'] {
        text-shadow: 0 0 0 var(--black);
        color: transparent;
      }

      &:active, &:focus {
        outline: none;
      }

      &::placeholder {
      }
    }

    input:not(:placeholder-shown) + &__suffix {
      .input-inner__suffix-times {
        width: 0.625rem;
        margin-left: 0.5rem;
        visibility: visible;
        opacity: 1;
      }
    }

    &[data-error='true'] {
      border-color: var(--danger) !important;

      &:hover {
        border-color: var(--grey);
      }

      &:hover, &[data-focused="true"] {
        border-color: var(--black);
      }
    }

    &__prefix {
      max-height: inherit;
      padding-left: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      border-radius: inherit;
    }

    &__suffix {
      max-height: inherit;
      padding-right: 1rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      overflow: hidden;
      border-radius: inherit;

      &-times {
        width: 0;
        cursor: pointer;
        transition: all 0.3s ease;
        will-change: transform, opacity, visibility;
        visibility: hidden;
        opacity: 0;

        &:active {
          transform: scale(1.05);
        }
      }
    }
  }
}
