@import 'static/assets/styles/mixins';

.primary-input {
  @include disabled($background: false, $opacity: true, $pointerEvents: true);

  display: flex;
  flex-direction: column;
  width: 100%;

  &-inner {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: toRem(40);
    border-radius: 10px;
    transition: all 0.2s ease;
    background: var(--secondary-lst);
    border: 1px solid var(--secondary-lst);
    will-change: background, border-color;
    cursor: pointer;

    &:hover {
      background: var(--secondary-l);
      border: 1px solid var(--secondary-l);
    }

    &:active,
    &:focus-within {
      border: 1px solid var(--purple-o24);
      background: var(--white);
      outline: none;
    }

    input {
      flex: 1;
      height: 100%;
      border: none;
      overflow: scroll;
      font-size: toRem(15);
      color: var(--black);
      background: transparent;
      padding: 0.5rem 1rem;

      &[data-nocursor='true'] {
        text-shadow: 0 0 0 var(--black);
        color: transparent;
      }

      &::placeholder {
        color: var(--secondary);
      }
    }

    input:not(:placeholder-shown) + .primary-input-inner__suffix {
      .primary-input-inner__suffix-times {
        min-width: 16px;
        min-height: 12px;
        margin-right: 1rem;
        visibility: visible;
        opacity: 1;
      }
    }

    &__prefix {
      max-height: inherit;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      border-radius: inherit;
    }

    &__suffix {
      max-height: inherit;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-right: 1rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      overflow: hidden;
      border-radius: inherit;

      .loader {
        padding: 0;
        margin-right: 1rem;

        & > div {
          display: flex;
        }
      }

      &-times {
        width: 0;
        cursor: pointer;
        transition: all 0.3s ease;
        will-change: transform, opacity, visibility;
        visibility: hidden;
        opacity: 0;

        &:active {
          transform: scale(1.2);
        }
      }
    }
  }
}
