@import "static/assets/styles/mixins";

.controller {
  position: relative;
  cursor: pointer;

  &-button {
    position: absolute;
    left: toRem(100);
    display: flex;
    justify-content: center;
    align-items: center;
    width: toRem(34);
    height: toRem(34);
    background: #F6F7FF;
    border: 0.5px solid #D7D7E8;
    box-sizing: border-box;
    border-radius: toRem(10);
    font-size: toRem(14);
    color: var(--purple);
    font-weight: 700;

    .popover {
      position: absolute;
    }

    &:hover, &:focus{
      background: rgba(62, 66, 223, 0.09);

      .popover {
        display: block;
      }
    }
    .popover[position='top'] {
      bottom: toRem(50);
    }
    .popover[position='left'] {
      bottom: toRem(0);
      left: toRem(-287);

      &:after {
        left: toRem(260);
        bottom: toRem(15);
      }
    }
    .popover[position='right'] {
      bottom: toRem(0);
      left: toRem(47);

      &:after {
        left: toRem(-4);
        bottom: toRem(15);
      }
    }
    .popover[position='bottom'] {
      bottom: toRem(-160);

      &:after {
        bottom: toRem(130);
      }
    }
  }
}