@import "static/assets/styles/mixins";

.date-input {
  display: flex;
  position: relative;
  width: 100%;

    & > div:first-child {
      max-width: toRem(175);
      margin-right: toRem(4);

      .secondary-input {
        .primary-input {
          &-inner {
            max-height: toRem(48);
            border-radius: 10px;

            input {
              padding: toRem(0);
            }
          }
        }
      }
    }

    .button {
      position: relative;
      width: toRem(48);
      height: toRem(48);
      margin-top: toRem(28);
      background: #F4F5FB;
      border-radius: 10px;
      border: none;

      .icon {
        svg {
          fill: transparent;
        }
      }

      &:hover &:focus {
        background: #EEF0FA;
      }

      &:active {
        background: rgba(62, 66, 223, 0.24);
      }
    }

  &-picker {
    display: none;
    position: absolute;
    left: toRem(225);
    bottom: toRem(45);

    &[data-open='true'] {
      display: block;
    }
  }
}